<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<nav class="main-bg-color ui inverted attached segment m-padded-tb-mini" th:replace="_fragments::menu(5)">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui  item  m-text-space m-opacity-mini">林唯心啊❤</h2>
            <a href="#" class="item m-item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="info icon"></i>关于</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search..."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle inverted icon button m-right-top m-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>

<!--main -->
<div class="m-container m-padded-tb-larger">
    <div class="ui container">
        <div class="ui grid stackable">
            <div class="eleven wide column">
                <img src="../static/img/img1.jpg" alt="me" class="ui image rounded">
            </div>
            <div class="five wide column">
                <div class="ui top attach segment">
                    <div class="ui header">
                        关于我
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">我是谁我在那</p>
                        <p class="m-text">asvasvbadfbdgb gdvv</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic label circular">编程</div>
                        <div class="ui teal basic label circular">呆瓜</div>
                        <div class="ui teal basic label circular">哈哈</div>
                        <div class="ui teal basic label circular">阿这</div>
                    </div>
                    <div class="ui attached segment m-padded-tb">
                        <div class="ui teal basic label circular">编程</div>
                        <div class="ui teal basic label circular">呆瓜</div>
                        <div class="ui teal basic label circular">哈哈</div>
                        <div class="ui teal basic label circular">阿这</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button main-color" ><i class="github icon"></i></a>
                        <a href="#" class="ui  circular icon button main-color" id="wechat"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button main-color" data-content="2315554550"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui popup hidden transition flowing wechatqr" id="wechatqr">
                        <img src="../static/img/ico.png" alt="wechat" style="width: 120px" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-bg-color inverted ui vertical segment m-padded-tb-massive" th:replace="_fragments::footer">
</footer>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();
    $('#wechat').popup({
        popup: $('#wechatqr'),
        position: 'bottom center'
    })
</script>
</body>
</html>